<%- include("header") -%>

<h2>This is About Page</h2>

<h2>This will show same header and footer</h2>

<h2>This will show same header and footer</h2>

<h2>This will show same header and footer</h2>

<h2>This will show same header and footer</h2>

<h2>This will show same header and footer</h2>

<h2>This will show same header and footer</h2>

<h2>This will show same header and footer</h2>

<h2>This will show same header and footer</h2>

<h2>This will show same header and footer</h2>

<h2>This will show same header and footer</h2>


<%- include("footer") -%>
